.gift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gift-lid {
    background-color: aqua;
    width: calc(var(--width-door)/2);
    height: calc(var(--width-door)/5);
}

.gift-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: calc(var(--width-door)/2.5);
    height: calc(var(--width-door)/3);
}

.gift-fillet-1 {
    width: 10px;
    height: 60px;
    background-color: red;
} 

.gift-fillet-2 {
    position: absolute;
    width: 60px;
    height: 10px;
    background-color: red;

} 